<DOCTYPE html>
<html>
	<head>
		<title>Thermostat</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class="Heading">
			<h1> That Thing That Shows And Changes The Temperature </h1>
		<section class="Temperature">
			<h1>The Temperature Now</h1>
			<aside>
			 <nav>
			  <ul>
			   <li><a href="#" class="increase_temperature">+</a></li>
			   <li><a href="#" class="decrease_temperature">-</a></li>
			   <li><a href="#" class="reset">reset</a></li>
			 </ul>
			</aside>
			</nav>
		</section>

		<script src="src/jquery-2.1.1.min.js"></script>
		<script src="src/thermostat.js"></script>
		<script src="src/interface.js"></script>
		<script>
			$(document).ready(function(){
				var currentTemp;
				$.getJSON('/weather', function(data) {currentTemp = data['list'][1]['main']['temp']})
				new ThermostatView('.temperature h1', currentTemp);
			});
		</script>
	</body>

</html>